body {
  background: #faf9f8;
}
.outer-container {
  .inner-container {
    width: 50%;
    margin: 7% auto;
    border: 1px solid gray;
    border-radius: 0.4em;

    #app {
      height: 50vh;
      overflow-y: auto;

      .richx-editor {
        height: 100%;
        padding: 1em;
        &:focus {
          outline: none;
        }
      }

      &::-webkit-scrollbar {
        width: 0.6em;
      }

      &::-webkit-scrollbar-track {
        background-color: #edebe9;
        border-radius: 80px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d2d0ce;
        border-radius: 80px;
      }
    }
  }
}
